@import url("./com/com.css");
@import url("./com/logo_title.css");
@import url("./com/shop.css");

page{
  background: #f8f8f8;
  /* min-height:100%; */
}
.result{
  font-size:24upx;
  margin:16upx 0;
}
.resultList{
  margin-bottom:16upx;
  padding-bottom:24upx;background:#fff;font-size:24upx;
}
.bossInfo{
  padding:24upx;width:654upx;background:#F7FAFF;margin:0 auto;
}
.name{
  width:32upx;height:32upx;margin-right:8upx;
}
.phone{
  width:32upx;height:32upx;margin-left:40upx;margin-right:8upx;
}
.address{
  margin-top:16upx;
}
.address image{
  width:24upx;height:28upx;margin-right:8upx;
}
