@import url("./com/com.css");
@import url("./com/logo_title.css");
@import url("./com/goods.css");
@import url("./com/shop.css");

page{
  background: #f8f8f8;
  color:#000;
}
swiper{
  height:562upx;
}
/* swiper image{
  width:750upx;height:100%;
} */

.goodsDetail{
  padding:24upx;
  font-size:24upx;
  background: #fff;
}
.goodsDetail .goodsName{
  font-size: 36upx;
  width:560upx;
  margin-right: 10upx;
}
.goodsDetail .brandName{
  max-width:130upx;
  font-size: 24upx;
  padding:6upx 0;
  /* background:#E7F4FF; */
  color:#128BED;
}
.kinds{
  margin:12upx 0;
}
.baseInfo{
  padding:24upx;
  font-size:28upx;
  background: #fff;
  margin-top:16upx;
}
.baseInfo .name{
  font-size: 36upx;
  margin-bottom: 8upx;
}
.baseInfo .box{
  margin-top:16upx;
}
.baseInfo .value{
  margin-left: 10upx;
}
.baseInfo .title{
  width:160upx;
}
.baseInfo .value1{
  margin-left:10upx;
  width:530upx;
}
.shop1{
  padding-left:0upx !important;
}
.goods1{
  border-bottom:1px solid #d8d8d8;
  padding-left:0upx !important;
}
.goods1:last-of-type{
  border:none;
}
.baseInfo .showButton{
  margin:30upx auto 0upx;width:200upx;height:54upx;border:1px solid #A52024;border-radius:40upx;color:#A52024;
}
.baseInfo .showButton image{
  width:18upx;height:18upx;margin-left:8upx;
}
.show{
  -webkit-line-clamp: 100 !important;
}
